$light-grey           : #D2D2D2;
$grey                 : #797979;
$dark-grey            : #202020;
$bg                   : #eff1f7;

//Orange
$blue                 : #022359;
$blue-hover           : #14448e;
$blue-line            : #cdd2d9;
$blue-text            : #00204d;
$blue-link            : #0275d8;

$white                : #FFF;
$black                : #000;