$light-grey           : #D2D2D2;
$grey                 : #797979;
$dark-grey            : #202020;
$bg                   : #F4F7FA;

//Orange
$blue                 : #042249;
$blue-hover           : #14448e;
$blue-line            : #b9c7de;
$blue-text            : #4b5051;
$blue-light           : #dfe7f0;
$blue-light-text      : #647589;
$blue-link            : #0275d8;

$white                : #FFF;
$black                : #000;