@import 'utils/styles/color';

.app-container {
    display: flex;
}

.side-bar {
    background: $blue;
    height: 100vh;
    min-width: 270px;
    position: fixed;
}

.page-container {
    flex: 1;
    padding: 0;
    display: block;
    margin-left: 270px;
}

.main-container {
    padding: 1.5em;
    margin-top: 55px;
}

.header {
    background: $white;
    height: 55px;
    padding: 0.5em 1.5em;
    box-sizing: border-box;
    text-transform: capitalize;
    position: fixed;
    width: calc(100% - 270px);
    z-index: 10;
    display: flex;
    align-items: center;
    box-shadow: 0 0 32px -15px $blue-line;

}

.logo {
    padding: 1em;
    text-align: center;
}

.nav-content {
    .nav-link {
        list-style-type: none;
        padding: 1.2em 1.5em;
        cursor: pointer;
        color: $white !important;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;

        &.selected {
            background: $blue-active;
            color: $white;
        }
    
        &:hover {
            background: $blue-hover;
            color: $white;
        }
    }
}

.locale-select {
    margin-left: auto;

    .change-locale {
        width: 8em;
        outline: none;
        font-size: 14px;

        &:focus {
            border: 1px solid $blue-line;
            box-shadow: none;
        }
    }
}