
.profile-details {
    margin-left: 1em;

    .table-profile-pic {
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
    
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.table-layout {
    font-size: 14px;
}
